h1 {
    font-size: 55px;
}
h2 {
    color: rgb(253, 253, 253);
}
p {
    color:black;
}
div {
    width: 350px;
    border: 15px solid black;
    padding: 25px;
    margin: 10px;
    color: whitesmoke;
  }
  li {
    color: black;
  }
 img {
    height: 40%px;
    width: 17%
  }

